<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login - StudentOverflow</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="container">
        <h1>StudentOverflow</h1>
        <h2>Login</h2>
        <form action="/login" method="POST">
            <div class="form-group">
                {{ form.csrf_token }}
                {{ form.email.label }} {{ form.email(size=20) }}
                <!-- <label for="email">Correo:</label>
                <input type="email" id="email" name="email"> -->
            </div>
            <div class="form-group">
                {{ form.password.label }} {{ form.password(size=20) }}
                <!-- <label for="password">Constraseña:</label>
                <input type="password" id="password" name="password"> -->
            </div>
            <button type="" href="register.html">Registrarme</button>
            <button type="submit">Iniciar Sesión</button>
        </form>
        <!-- <p>Don't have an account? <a href="/signup">Sign up here</a></p> -->
    </div>
</body>

</html>